<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TFSUser" value="[a user name with appropiate access rights to the project]"/>
        <add key="TFSPassword" value=""/>
        <add key="TFSUri" value="[url of the tfs server]"/>
        <add key="TFSProject" value="[the name of the team foundation project]"/>
        <add key="ProjectMembers" value="[list of project member names separated by comma]"/>
    </appSettings>
</configuration>